@font-face {
   font-family: 'Blah blah bang';
   font-display: swap;
   src: url('Blah blah bang/font.ttf');
}
@font-face {
   font-family: 'Berton-Roman-trial';
   font-display: swap;
   src: url('Berton-Roman-trial/font.ttf');
}
